.calculator{
    height:100vh;
    align-items: center !important;
    margin:auto;
    justify-items: center;
    justify-content: center;
    display: flex;
}
.container{
    width:40vw;
    height:80wh;
    margin:auto;
    position:relative;
    display:grid;
    gap:5px;
    padding:5px;
    border:1px solid rgb(240, 239, 239);
    background-color: hwb(0 100% 0%);
    border-radius: 3px; 
    align-items: center !important;
}
.container>.form-group{
    display:flex;
    justify-content: space-between;
    /* padding: 5px; */
    gap:5px;     
}
.container>.form-group>button{
    border:1px solid rgb(253, 251, 251);
    border-radius: 3px;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    color:rgb(135, 133, 133)
    /* border-radius: 20px; */
}

.container>.form-group>.btn-s{
    font-size:15px ;
}
.container>.form-group>button:hover{
     background-color: #e0ddddd4;
}
.container>.form-group>input{
    width: 100%;
    padding: 15px;
    margin:2px 0px;
    text-align: right;
    border-radius: 3px;
    font-size: 30px;
    color:#393939f0;
    border:1px solid rgb(239, 237, 237);
}
.container>.form-group>.evaluate{
    color:#fff;
    background-color: rgb(178, 174, 173);
    font-size: 27px !important;
    font-weight: 600;
}
.container>.form-group>.evaluate:hover{
    /* color:#fff !important; */
    background-color: rgba(171, 167, 167, 0.8);
}
.container>.form-group>input:focus{
    border:none !important;
}

